# Dot files/folders
.DS_Store

# Logs
*.log

# Dependency directories
node_modules
*.lock
package-lock.json
/.vscode

build
packages/react-scripts/*.tgz
my-app*

# cache files
.stylelintcache
.eslintcache

coverage