@import 'media-queries';

/* browser update */
$container-width: 550px;
$container-width-phone: 250px;

.browser-update {
	position: absolute;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
	font: $ff-base;
	color: $c-grey-light;
	text-align: center;
	background-color: $c-grey-dark;
}

.browser-update--inner {
	display: table-cell;
	vertical-align: middle;
}

.browser-update--icon {
	margin: auto;
	width: 35px;
	height: 35px;

	@media $mq-tablet-portrait-up {
		width: 40px;
		height: 40px;
	}
}

.browser-update--title {
	margin-top: 25px;
	font: $ff-base;
	text-transform: uppercase;

	@media $mq-tablet-portrait-up {
		margin-top: 35px;
		font-size: 21px;
	}
}

.browser-update--desc {
	margin-top: 20px;
	font: $ff-base;
	font-size: 10px;

	@media $mq-tablet-portrait-up {
		margin-top: 25px;
		font-size: 14px;
	}
}

.browser-update--browsers {
	margin-top: 35px;
	margin-right: auto;
	margin-left: auto;
	list-style: none;
	width: $container-width-phone;

	@media $mq-tablet-portrait-up {
		margin-top: 80px;
		width: $container-width;
	}
}

.browser-update--browser {
	float: left;
	margin: 0 10px;
	color: $c-white;
	text-decoration: none;

	@media $mq-tablet-portrait-up {
		margin: 0 40px;
	}
}

.browser-update--download {
	font-size: 7px;
	color: $c-grey;
	text-transform: uppercase;
	max-width: 50px;

	@media $mq-tablet-portrait-up {
		font-size: 12px;
		max-width: 90px;
	}
}

.browser-update--browser-name {
	font-size: 10px;

	@media $mq-tablet-portrait-up {
		font-size: 16px;
	}
}

.browser-update--browser-icon {
	width: 45px;

	@media $mq-tablet-portrait-up {
		width: 72px;
	}
}
